        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f3f3f3;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .register-container {
            background-color: white;
            width: 350px;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
            border: none;
        }

        .logo {
            padding: 0px;
            margin-left: 32px;
            width: 150px;
        }

        .register{
            font-family: 'Alexandria', sans-serif;
            font-weight: lighter;
        }

        .logo span {
            color: #002d66;
        }

        .logo .slash {
            color: #9b9b9b;
        }

        .register-container h2 {
            text-align: center;
            font-size: 18px;
            margin-bottom: 20px;
            color: #666;
        }

        .section-title {
            font-size: 14px;
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 10px;
            color: #002d66;
        }

        .register-container input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
        }

        .register-container input:focus {
            border-color: #002d66;
            outline: none;
        }

        .register-container button {
            width: 100%;
            padding: 10px;
            background: linear-gradient(to right, #092134, #1B629A);
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }

        .register-container button:hover {
            background: linear-gradient(to left, #092134, #1B629A);
        }

        .reg{
            text-align: center;
            padding-top: 17px;
            text-decoration: none;
        }
        a{
            text-decoration: none;
            color: #1B629A;
        }