<<<<<<< HEAD
html, body {
    height: 103%;
=======
html{
  height: 100%;
>>>>>>> e1e3931 (bab 8 fixed)
}
body{
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    min-height: 100vh;
=======
>>>>>>> e1e3931 (bab 8 fixed)
    margin: 0;
    padding: 0;
    background-color: white;
}
<<<<<<< HEAD
.navbar{
    width: 100%;
    flex-shrink: 0;
    background: #FFF;
    /* box-shadow: 0px 4px 20.1px -7px rgba(0, 0, 0, 0.25); */
    display: flex;
=======
        /* navbar */
.navbar{
    width: 100%;
    flex-shrink: 0;
    background: #e7e7e7;
    display: flex;
    position: relative;
>>>>>>> e1e3931 (bab 8 fixed)
}
.gambar{
    margin: 10 0 10 60;
    padding: 0 0 0 10;
    width: 60%;
    height: 100%;
    flex-shrink: 0;
    
}
.logo{
    width: 20%;
    /* margin: 10 10 10 10; */
    padding-left: 20px;
    padding-top: 10px;
}
.menu{
    width: 60%;
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
}
.btn-home{
    width: 20%;
    height: 50%;
    cursor: pointer;
    font-family: 'Alkalami', sans-serif;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    padding-top: 10px;
}
.btn-category{
    width: 20%;
    height: 50%;
    cursor: pointer;
    font-family: 'Alkalami', sans-serif;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    padding-top: 10px;
}
.btn-about{
    width: 20%;
    height: 50%;
    cursor: pointer;
    font-family: 'Alkalami', sans-serif;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    padding-top: 10px;
}

.btn-home:hover{
    background-color: #8e9ba5;
}
.btn-category:hover{
    background-color: #8e9ba5;
}
.btn-about:hover{
    background-color: #8e9ba5;
}
.button-container{
    display: flex;
    width: 20%;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-right: 35px;
    margin-top: 10px;
}
.btn-l{
    width: 50%;
    height: 50%;
    flex-shrink: 0;
    border-radius: 25px;
    background: #E9E9E9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-content: center;
    text-align: center;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    color: linear-gradient(to right, #092134, #1B629A);
    font-family: 'Alkalami', sans-serif;
    padding: 5px 0px 0px 3px;
    text-decoration: none;
    color: black;
    
}
.btn-r{
    width: 50%;
    height: 50%;
    flex-shrink: 0;
    border-radius: 25px;
    background: #E9E9E9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-content: center;
    text-align: center;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    background: #1B629A;
    color: white;
    font-family: 'Alkalami', sans-serif;
    padding: 5px 0px 0px 3px;
    text-decoration: none;
}
.btn-l:hover{
    background-image: linear-gradient(to right, #535556, #b9bec2); /* Ubah warna latar belakang saat hover */
    color: white;           
}
.btn-r:hover{
    background-image: linear-gradient(to right, #092134, #1B629A); 
    color: black;         
}
<<<<<<< HEAD
.halaman{
    width: 100%;
    height: 80%;
}
.footer-wave {
    position: relative;
    width: 100%;
    overflow: hidden;

}
  
.footer-wave svg {
    display: block;
    width: 100%;
    height: auto;
}
  
.footer-content {
    padding: 20px 0;
}
  
.footer-content p {
    margin: 0;
    font-size: 14px;
}
.watermark{
    width: 100%;
    background-image:linear-gradient(to right, #092134, #1B629A);
    text-align: center;
    font-size: 20px;
    color: rgb(213, 213, 213);
    padding-bottom: 10px;
=======
    /* Jumbotron */
.jumbotron {
    display: flex;
    background-color: #e7e7e7;
    padding: 20px 0;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 100%;
  }

  .jumbotron-text {
	width: 30%;
	font-weight: 500;
  }
  
  .jumbotron-text p {
	color: white;
	margin: 20px 0;
  }
  
  .jumbotron-text button {
	padding: 10px 18px;
	border: none;
	border-radius: 10px;
	background-color: #1B629A;;
	color: white;
	cursor: pointer;
  }
  .btn_getStarted{
    color: white;
  }
  
  /* style card-categories */
  .cards-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .cards-categories h2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    }
    
    .card-categories {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    
    .card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    }
    
    .card:hover {
    transform: scale(1.05);
    }
    
    .card .card-image {
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    }
    
    .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    }
    
    .card-content {
    padding: 20px;
    }
    
    .card h5 {
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    }
    
    .card p.description {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
    }
    
    .card p.price {
    font-size: 18px;
    font-weight: bold;
    color: #1B629A;
    margin-bottom: 15px;
    }
    
    .card .btn_belanja {
    background-color: #1B629A;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
    }
    
    .card .btn_belanja:hover {
    background-color: #1B629A;
    }
  
  .modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    color: #000;
}

.modal-dialog {
    width: 80%; 
    max-width: 500px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
	border-bottom: none;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-title {
	margin: 0;
	font-size: 1.2rem;
}

.btn-close {
	font-size: 1.5rem;
	background: none;
	border: none;
	cursor: pointer;
	color: #000;
}

.modal-body {
	padding: 20px;
}

.form-group {
	margin-bottom: 20px;
}

.form-group  .labelmodal {
	display: block;
	margin-bottom: 5px;
}

.form-group .inputdata,
.form-group .inputalamat {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.modal-footer {
	border-top: none;
	padding: 10px 20px;
	display: flex;
	justify-content: flex-end;
}

.btn-secondary,
.btn-yellow {
	padding: 8px 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	
}

.btn-secondary {
	background-color: #888;
	margin-right: 10px;
}

.btn-yellow {
	background-color: #1B629A;
>>>>>>> e1e3931 (bab 8 fixed)
}